body {
   
    font-family:'Questrial','Pretendard', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    word-break: keep-all;
    word-wrap: break-word;
    padding: 0px;
    margin: 0px;
    //letter-spacing: -0.01em;
    //color: #181818;
    background-color: #0C0C0C;

}